body {
  font-family: "Georgia", Times, sans-serif;;
  background-color: rgb(179, 137, 228);
}

ul {
  list-style-type: none
}

li,
.movie-list-entry {
  border-style: solid;
  border-width: 1px;
  padding: 10px 0px 10px 40px;
  margin-right: 25%;
}

.watch-toggle {
  color: rgb(34, 22, 201);
}